[submodule "lumico/themes/themes/hugo-sugoi"]
	path = lumico/themes/themes/hugo-sugoi
	url = https://github.com/aanupam23/hugo-sugoi.git
[submodule "lumico/themes/hugo-sugoi"]
	path = lumico/themes/hugo-sugoi
	url = https://github.com/aanupam23/hugo-sugoi.git
[submodule "lumico/lumico.github.io"]
	path = lumico/lumico.github.io
	url = https://github.com/krish6k/lumicoblog.github.io.git
	branch = main
[submodule "lumico/public"]
	path = lumico/public
	url = https://github.com/krish6k/lumicoblog.github.io.git
	branch = main
